body
{
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
}

/*
user bar
*/
.user-bar
{
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    z-index: 100;
}

.user-bar a
{
    line-height: 40px;
}

.main
{
    margin-top: 45px;
    height: 100%;
    z-index: 1;
}

/*
overlay
*/
#overlay-login
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 200;
}

#login
{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
        
#overlay-register
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 200;
}

#register
{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/*
footer
*/
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
}
