html
{
    height: 100%;
    box-sizing: border-box;
    font-size: 11pt;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

body
{
    position: relative;
    margin: 0;
    color: #fff;
    padding-bottom: 170px;
    min-height: 100%;
    background-color: #161616;
}

/*
user bar
*/
.user-bar
{
    overflow: hidden;
    background-color: #252525;
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    z-index: 100;
}

.user-bar p
{
    font-size: 10pt;
}

.user-bar .btn-sm
{
    line-height: 0.7;
    font-size: 10pt;
}

.main
{
    padding: 35px 0;
    z-index: 1;
    background-color: #262626;
}

.basic-padding
{
    padding: 25px 0;
}

/*
nav-holder
*/
.nav-holder
{
    background-color: #3e3e3e;
    height: 70px;
    z-index: 99;
}

.navbar
{
    min-height: 70px;
    margin-bottom: 0;
    padding: 0;
    z-index: 98;
}

.navbar-default
{
    border: none;
}

.bg-dark
{
    background-color: #3e3e3e!important;
}

.navbar-collapse
{
    z-index: 100;
}

/*
overlay
*/
#overlay-login
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);
    cursor: pointer;
    z-index: 200;
}

#login
{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
        
#overlay-register
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);
    cursor: pointer;
    z-index: 200;
}

#register
{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay-page, #overlay-namechange
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);
    cursor: pointer;
    z-index: 200;
}

#page, #namechange
{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/*
forms
*/

form .fa
{
    line-height: 25pt;
    padding-right: 10px;
}

/*
footer
*/
footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0D0D0D;
    color: #DCDCDC;
    padding: 35px 0;
}
