.main-category{
 width: 100%;
 background-color: #000;
 margin-top: 15px;
 padding: 10px 15px;
}

.flex-container {
  display: flex;
  background-color: #272727;
  flex-wrap: nowrap;
  margin: 0;
  padding: 10px 0 5px;
  border-width: 1px;
   border-bottom-width:1px;
   border-bottom-color:#5a5a5a;
   border-bottom-style: solid;
}

.flex-container .icon {
  padding: 0 20px 0 15px;
  text-align: center;
  line-height: 45px;
  position:relative;
}

.flex-container .subcat {
  width: 50%;
}

.flex-container .stats {
  width: 10%;
  padding-top: 5px;
  text-align: center;
}

.flex-container .latest {
  width: 30%;
  padding-top: 5px;
  text-align: right;
}

.flex-container .link {
  width: 50%;
}

.flex-container .clicks {
  width: 10%;
  text-align: center;
}

@media (max-width: 768px){
.flex-container .subcat {
  width: 40%;
}

.flex-container .stats {
  display: none;
}

.flex-container .latest {
  width: 50%;
  text-align: right;
  padding-top: 5px;
  padding-right: 15px;
}

.flex-container .link {
  width: 40%;
}

.flex-container .clicks {
  width: 50%;
  text-align: right;
  padding-right: 15px;
}
}

p.title {
    margin-bottom: 0px;
    font-weight: 700;
}

p.title a{
    margin-bottom: 0px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

p.title a:hover{
    margin-bottom: 0px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

p.link-text {
    font-size: 0.8em;
    font-weight: 700;
    margin:0;
    padding:0;
}

p.stat {
    font-size: 0.8em;
    font-weight: 700;
    margin:0;
    padding:0;
}

p.stats-single {
    font-size: 0.8em;
    font-weight: 700;
    margin:0;
    padding:1.1em 0 0 0;
}

p.info {
    margin:0;
    padding:0;
    font-size: 0.8em;
    margin-bottom: 0.7em;
}

p.links {
    margin:0;
    padding:0.8em 0 0 0;
    font-weight: 700;
}

p.links a{
    margin:0;
    padding:0;
    text-decoration: none;
    color: #fff;
}

p.latest-title {
    font-size: 0.8em;
    font-weight: 700;
    margin:0;
    padding:0;
    text-align: right;
}

p.latest {
    margin:0;
    padding:0;
    font-size: 0.8em;
    margin-bottom: 0.7em;
    text-align: right;
}

.main-category h4 a {
    color: #fff;
    text-decoration: none;
}
.main-category h4 a:hover {
    color: #fff;
    text-decoration: none;
}